
<div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
    <ul class="navbar-nav flex-grow-1">
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area=""  asp-controller="Categories" asp-action="SelectCategory">Category</a>
        </li>
        @*<li class="nav-item">
            <a class="nav-link text-dark" asp-area=""  asp-controller="Products" asp-action="SelectProduct">Products</a>
        </li>*@
        <li>
            <a href='@Url.Action("Index","Carts")'><img src="~/Images/cart.jpg" width="50px" /></a>
        </li>
    </ul>
</div>
